<footer class="bg-dark mt-auto pt-4 container-fluid">

    <div class="row align-items-center border-bottom border-white pb-4 mb-2">

        <div class="col-md-8 mt-2">

            <h4 class="text-white">As part of the Library of Michigan’s response to the COVID-19 outbreak, librarians are working remotely and do not have access to our print collections. During this period, please get in touch with the State Law Library by email at lmlawlib@michigan.gov</h4>
            
            

        </div>

        <div class="col-md-4 mt-2 text-right">
            <p class="text-white" id="footer-credits">
                <small><em>built with</em>
                    <a href="https://collectionbuilder.github.io/" target="_blank" rel="noopener" title="CollectionBuilder">
                        <img src="{{ '/assets/img/collectionbuilder-logo.png' | relative_url }}" class="img-fluid" alt="CollectionBuilder logo" >
                    </a>
                </small>
            </p>
        </div>

    </div>

    <div class="col-md-12 text-center pt-3 pb-1">
        <p class="text-white">Last updated {{ site.time | date: '%Y' }}</p>
    </div>

</footer>
